@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Gotu&display=swap');

:root {
    --c-one: #EF6461;
    --c-two: #1E88C7;

    --c-primary: var(--c-one); 
    --c-secondary:  var(--c-two);
    --first-bg: var(--c-one);
    --first-title: #000;
    --first-text: black;
    --second-bg: var(--c-two);
    --second-title: white;
    --second-text: white;
    /* --c-primary: #fff; 
    --c-secondary: #000;
    --first-bg: #fff;
    --first-title: #000;
    --first-text: black;
    --second-bg: #000;
    --second-title: white;
    --second-text: white; */
    

    --title-font: 'Crimson Text', serif;
    --body-font: 'Gotu', sans-serif;
}

.contain {
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 10px 10px 10px;
}

.divpad img { 
    filter:drop-shadow(2px 2px 6px #0000008a);
}

.sback,.pback,.blackback {
    box-shadow:0px 0px 40px #0000008a;
}

/* Alignments */
.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.indent {
    text-indent: 50px;
}

/* backgrounds */
.pback {
    background-color: var(--first-bg);
}

.pback h1 {
    color: var(--first-title);
}

.pback h2 {
    color: var(--first-title);
}

.pback p {
    color: var(--first-text);
}

.pback li {
    color: var(--first-text);
}

.pback a {
    color: var(--first-title);
}

.pback a:visited {
    color: var(--first-title);
}

.pback a:hover {
    color: var(--first-title);
}

.sback {
    background-color: var(--second-bg);
}

.sback h1 {
    color: var(--second-title);
}

.sback h2 {
    color: var(--second-title);
}

.sback p {
    color: var(--second-text);
}

.sback li {
    color: var(--second-text);
}

.sback a {
    color: var(--second-title);
}

.sback a:visited {
    color: var(--second-title);
}

.sback a:hover {
    color: var(--second-title);
}

.whiteback {
    background-color: white;
}

.whiteback h1 {
    color: var(--c-secondary);
}

.whiteback h2 {
    color: var(--c-secondary);
}

.whiteback p {
    color: black;
}

.whiteback li {
    color: black;
}

.whiteback a {
    color: var(--c-secondary);
}

.whiteback a:visited {
    color: var(--c-secondary);
}

.whiteback a:hover {
    color: var(--c-primary);
}

.blackback {
    background-color: black;
}

.blackback h1 {
    color: var(--c-primary);
}

.blackback h2 {
    color: var(--c-primary);
}

.blackback p {
    color: white;
}

.blackbacl li {
    color: white;
}

.blackback a {
    color: var(--c-primary);
}

.blackback a:visited {
    color: var(--c-primary)
}

.blackback a:hover {
    color: var(--c-secondary);
}

/* Padding and margins */
.textdivmargin {
    padding-left: 0;
    padding-right: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.textpad {
    padding: 0 20px 0 20px;
}

.nopad {
    padding: 0 0 0 0;
}

.padded {
    padding: 15px 15px 15px 15px;
}

/* Tag items */
img {
    max-width: 100%;
    vertical-align: middle;
}

.imgfull {
    width: 100%;
}

nav {
    background: black;
}

div {
    display: block;
    overflow: hidden;
    padding: none;
}

a {
    font-family: var(--title-font);
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    text-decoration: none;
    font-size: 20px;
}

a:visited:hover {
    text-decoration: none;
    font-size: 20px;
}

p {
    display: block;
    font-family: var(--body-font);
    text-decoration: none;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

li {
    font-family: var(--body-font);
    text-decoration: none;
    font-size: 17px;
}

h1 {
    font-family: var(--title-font);
    font-size: 50px;
}

h2 {
    font-family: var(--title-font);
    font-size: 30px;
}

/* Navigation Bar */
.nonstick {
    text-align: center;
    object-fit: contain;
    width: 100%;
}

.logo {
    width: 100%;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 0px 5px 0px;
    line-height: 1px;
}

.nav-link {
    vertical-align: 50%;
    padding: 10px 10px 10px 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--first-bg) ;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--second-bg);
}

/* Content */
.main {
    margin: 0px 0px 0px 0px;
    word-wrap: break-word;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
}

.divpad {
    padding-top: 25px;
    padding-bottom: 25px;
}

.toppad {
    padding-top: 25px;
}

.botpad {
    padding-bottom: 25px;
}

hr {
    background-color: black;
    width: 120%;
    height: 12px;
    border-top: 1px solid black;
    margin: 0px 0px 0px 0px;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill img {
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Footer */
.foot {
    line-height: 1.5;
    border-top: 15px solid black;
    word-wrap: break-word;
}

/* Buttons */
.btn {
    font-size: 20px;
}

.pback .btn {
    background-color: var(--second-bg);
    color: #fff !important;
    border: 2px solid #fff;
    font-size: 20px;
}

.pback .btn:hover {
    background-color: var(--first-bg) ;
    color: #000!important;
    border: 2px solid #000;
    font-size: 20px;
}

.sback .btn {
    background-color: var(--first-bg) ;
    color: #000 !important;
    border: 2px solid #000;
    font-size: 20px;
}

.sback .btn:hover {
    background-color: var(--second-bg);
    color: #fff !important;
    border: 2px solid #fff;
    font-size: 20px;
}

.pbtn {
    background-color: var(--first-bg) ;
    color: #000 !important;
    border: 2px solid #000;
}

.pbtn:hover {
    background-color: var(--second-bg);
    color: #fff !important;
    border: 2px solid #fff;
}

.sbtn {
    background-color: var(--second-bg);
    color: #fff !important;
    border: 2px solid #fff;
}

.sbtn:hover {
    background-color: var(--first-bg) ;
    color: #000 !important;
    border: 2px solid #000;
}

/* Manual */
.secondary {
    color: var(--second-bg) !important;
}

.primary {
    color: var(--first-bg)  !important;
}

.white {
    color: white !important;
}

.black {
    color: black !important; 
}

/* Rotation code */
.rotate {
    animation: rotation 12s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

